* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100% ;
}
  
.wrapper  {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex: 1 1 auto;
}

.main__container {
  flex: 1 1 auto;
}